.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

#logo {
    width: 10%;
    padding: 0 auto;
}

@media screen and (min-width: 580) {
  
}