
#logo1 {
    position: right;
    width: 100px;
    padding: 5px;
}

#title {
    margin-top: 100px;
  
}

#description {
margin-top: 250px;
}

#img {
    margin-top: 150px;
}

.container-ntc {
    padding: 20px;
}

@media screen and (min-width: 300px)
{
    #logo {
        width: 60px;
        box-sizing: border-box;
        padding: 5px;
    }
  
}

@media screen and (min-width: 768px)
{
    #logo {
        width: 90px;
        box-sizing: border-box;
        padding: 15px;
    }
}

@media screen and (min-width: 800px)
{
    #logo {
        width: 100px;
        box-sizing: border-box;
        padding: 18px;
    }
}
