
#logo1 {
    position: right;
    width: 100px;
    padding: 5px;
}

#title {
    margin-top: 100px;
  
}

#description {
margin-top: 240px;
}

#img {
    margin-top: 170px;
}

.container-ntc {
    padding: 20px;
}

@media screen and (min-width: 300px)
{
    #logo {
        width: 60px;
        box-sizing: border-box;
        padding: 5px;
    }
    #title {
        text-align: center;
        margin-top: 70px;
      
    }
    
    #description {
    margin-top: 310px;
    }
    
    #img {
        margin-top: 220px;
    }
  
}


@media screen and (min-width: 500px)
{
    #logo {
        width: 60px;
        box-sizing: border-box;
        padding: 5px;
    }
    #title {
        text-align: center;
        margin-top: 70px;
      
    }
    
    #description {
    margin-top: 230px;
    }
    
    #img {
        margin-top: 150px;
    }
  
}

@media screen and (min-width: 768px)
{
    #logo {
        width: 90px;
        box-sizing: border-box;
        padding: 15px;
    }
    #title {
        text-align: center;
        margin-top: 70px;
      
    }
    
    #description {
    margin-top: 200px;
    }
    
    #img {
        margin-top: 130px;
    }
}

@media screen and (min-width: 800px)
{
    #logo {
        width: 100px;
        box-sizing: border-box;
        padding: 18px;
    }
}


@media screen and (min-width: 1080px)
{
    #logo {
        width: 90px;
        box-sizing: border-box;
        padding: 15px;
    }
    #title {
        text-align: center;
        margin-top: 70px;
      
    }
    
    #description {
    margin-top: 200px;
    }
    
    #img {
        margin-top: 100px;
    }
}